.form {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 500px;
	padding: 30px;
	margin: 5px;
	background-color: hsl(0, 0%, 100%);

	-webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.35);

	border-left: 3px solid hsl(220, 100%, 50%);
}

.form [type='submit'] {
	cursor: pointer;
	border: 0;
	color: white;
	font-size: 17px;
	background-color: hsl(220, 100%, 50%);
}

.form input {
	padding: 8px;
	border: 0;
	border-bottom: 1px solid black;
}

.form input:-webkit-autofill,
input:focus:-webkit-autofill {
	background-color: transparent;
}

.form input:focus {
	outline: none;
}

.form__item {
	display: flex;
	flex-direction: column;
	margin: 13px 0;
	letter-spacing: 1px;
}

.form__item * {
	margin: 5px 0;
	font-size: 16px;
}

.form__info p {
	display: block;
	color: hsl(0, 72%, 56%);
	margin: 10px 0;
	padding: 5px 0;
	padding-left: 4px;
}

.form__info p:first-child {
	margin: 0;
}

.form__notification {
	border-left: 10px solid hsl(220, 100%, 50%);
}

.form__notification--error {
	border-left: 10px solid hsl(0, 72%, 56%);
}

.form .errorlist {
	list-style: none;
	padding-top: 4px 0;
}

.form .errorlist li {
	font-size: 13px;
	color: hsl(0, 72%, 56%);
	padding: 2px 5px;
}

.form__link {
	display: block;
	text-decoration: none;
	color: hsl(0, 0%, 60%);
	font-size: 90%;
	margin-top: 5px;
}

.form__link:hover {
	color: hsl(0, 0%, 40%);
	text-decoration: underline;
}
