{% load get_files from webpack_loader %}
{% get_files 'main' as main %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />

    {% if debug %}
        <link rel="stylesheet" href="http://localhost:5000/assets/fonts.css" />
        <link rel="icon" type="image/png" href="http://localhost:5000/assets/icons/favicon.png">
    {% else %}
        <link rel="manifest" href="/static/frontend/manifest.json" />
        <link rel="stylesheet" href="/static/frontend/assets/fonts.css" />
        <link rel="icon" type="image/png" href="/static/frontend/assets/icons/favicon.png">
    {% endif %}

    <meta name="theme-color" content="#171717" />

    <title>Home Automation</title>
</head>

<body>
    <div id="root"></div><noscript>You need javascript enabled to run this site.</noscript>
    <script>var csrf_token = '{{ csrf_token }}';</script>

    {% if debug %}
        <script crossorigin src="http://localhost:5000/{{main.0.name}}"></script>
    {% else %}
        <script src="/static/frontend/{{main.0.name}}"></script>
    {% endif %}

</body>

</html>