{% load webpack %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="theme-color" content="#171717" />

    <link rel="stylesheet" href="{% webpack_manifest 'static/assets/fonts.css' %}" />
    <link rel="manifest" href="{% webpack_manifest 'static/manifest.json' %}" />
    <link rel="icon" type="image/png" href="{% webpack_manifest 'static/assets/icons/favicon.png' %}" />

    <title>Home Automation</title>
</head>

<body>
    <div id="root"></div><noscript>You need javascript enabled to run this site.</noscript>

    <script>var csrf_token = '{{ csrf_token }}';</script>
    <script src="{% webpack_manifest 'main.js' %}"></script>
</body>

</html>