{% extends "_base.html" %}
{% load static %}

{% block title %} Password Reset Confirm {% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/form_style.css' %}">
{% endblock %}

{% block content %}
  
  {% if validlink %}

    <form class="form" method="POST">
      {% csrf_token %}

      <div class="form__info">

        {% for error in form.errors %}
          <p>{{ error }}</p>
        {% endfor %}
        
      </div>

      {% for field in form %}
      <div class="form__item">
        
        {{ field.label_tag }} 
        {{ field }}
      
      </div>  
      {% endfor %}

      <input type="submit" value="Reset my password" />


    </form>

  {% else %}

    <div class="form form__notification--error">
      <p>
        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
      </p>
    </div>

  {% endif %}
  
   
{% endblock %}