{% extends "_base.html" %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/form_style.css' %}">
{% endblock %}

{% block content %}

  <form class="form" method="POST">
    {% csrf_token %}

    <h2>Password reset</h2>

    <div class="form__info">


      {% for error in form.errors %}
        <p>{{ error }}</p>
      {% endfor %}

    </div>

    {% for field in form %}
    <div class="form__item">

      {{ field.label_tag }}
      {{ field }}

    </div>
    {% endfor %}

    <input type="submit" value="Reset my password" />
  </form>

{% endblock %}