{% extends "_base.html" %}
{% load static %}

{% block title %} Password Change {% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/form_style.css' %}">
{% endblock %}

{% block content %}
  
  <form class="form" method="POST">
    {% csrf_token %}

    {% for field in form %}
    <div class="form__item">

      {{ field.errors }}
      {{ field.label_tag }} 
      {{ field }}
    
    </div>  
    {% endfor %}

    <input type="submit" value="Change my password" />
  </form>
   
{% endblock %}